<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Phrasebank project</title>

    <link rel="stylesheet" href="../css/styles.css">  </head>
  <body onload="repChanger">
    <header id="header">
      <nav>
        <ul class="ul-nav">
          <li class="li-nav" id="home"><a href="/">Home</a></li>
          <li class="li-nav" id="home">
            <a href="/dictionary/?page=1">Dictionary</a>
          </li>
          <li class="li-nav" id="home"><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
