<%- include("header") -%>
<div>
  <h1 id="header-text">Welcome back, Nurbek</h1>
</div>

<div class="box" id="heading">
  <h2><a href="/add">(+) Add new phrase</a></h2>
</div>

<div class="box" id="heading">
  <h2><a href="/test">(?) Test room (10 quizzes)</a></h2>
</div>

<%- include("footer") -%>
