<%- include("header") -%>
<div>
  <h1 id="header-text"> Hello, Nurbek </h1>
</div>

<div class="box" id="heading">
  <h2><a href="/add">(+) Add new phrase</a></h2>
</div>

<div class="box" id="heading">
  <h2><a href="/test">(?) Test room (20 Quizzes)</a></h2>
</div>

<%- include("footer") -%>
