@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap');

* {
  margin: 0 0.5rem;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif, Arial, Helvetica;

}

a {
  text-decoration: none;
}

body {
  background-color: #F4EBD9;
  min-height: 95vh;
}

#header {
  position: relative;
  height: 3rem;
  background-color: #058ED9;
  display: block;
}

nav{

}

.ul-nav{
  position: absolute;
  right: 10%;
  list-style: none;
}

.li-nav{
  font-size: 1.5rem;
  line-height: 3rem;
  display: inline-block;
  font-weight: 500;
  color: #fff;
}

.li-nav a{
  color: #fff;
}

.li-nav:hover, .li-nav a:hover  {
  background-color: #fff;
  color: #000;
}

h1 {
  text-align: center;
  color: #000;
  padding: 10px;
}

#header-text{
  padding-top: 3rem;
}

h2, h2 a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 7px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading{
  margin-top: 1rem;
  background-color: #058ED9;
}

#question {
  background-color: #058ED9;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: 058ED9;
}

input[type="checkbox"] {
  margin: 20px;
}

textarea{
  margin: 20px 0;
  top: 10px;
  background: transparent;
  border: solid #058ED9;
  font-size: 20px;
  font-weight: 200;
  outline: none;
}
/* 
p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #058ED9;
} */

form {
  display: block;
  text-align: center;
  margin-left: 20px;
}

button {
  display: block;
  margin: 0 auto;
  min-height: 50px;
  width: 150px;
  border-radius: 10%;
  border-color: transparent;
  background-color: #058ED9;
  color: #fff;
  font-size: 20px;
  padding-bottom: 6px;
  border-width: 0;
}
input{
  display: block;
  margin: 0 auto;
}
input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 80vw;
  outline: none;
  box-shadow: inset 0 -3px 0 0 #058ED9;
}

/* Dictionary Table */

table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
  margin-bottom: 25px;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  padding: 10px;
}

table.GeneratedTable thead {
  background-color: #74c2ec;
}

.th_point, .th_order{
  width: 50px;
}
.th_phrase{
  width: 20%;
}
.th_meaning{
  width: 60%;
}
.th_option{
 width: 100px;
}

.td_order, .td_option, .td_point{
  text-align: center;
}

::placeholder {
  color: grey;
  opacity: 1;
}
.answerBlock{ 
  margin: 0 auto;
  text-align: center;

}
.answer{
  background-color: #058ED9;
  margin: 1.5rem;
  border-radius: 0%;
  width: 35vw;
}
.answer:hover{
  background-color: #FF731D;
}

.ans_true{
  color: green;
}

.ans_wrong{
  color: red;
}

.negative{
  color: red;
}

.positive{
  color: green;
}

form{
  font-size: large;
  line-height: 3rem;
  text-align: center;
  display: inline-block;
}

.results{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.3rem;
}
.result-info{
  margin: 1rem;
  width: 40%;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
